/* TABLE ====================================================================

    * Parallax

   ========================================================================== */

body {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../img/bck.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}
button {
    position: absolute;
    z-index: 999;
    bottom: -300%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ==========================================================================
    Header
   ========================================================================== */

header {
    padding-right: 80px;
}
header img {
    float: left;
    height: 40px;
    margin-top: 28px;
}
header ul {
    line-height: 115px;
    float: right;
}
header li {
    font-family: 'CircularStd-Book';
    display: inline-block;
    margin-right: 48px;
}
header li:last-child {
    margin-right: 0;
}
header li a {
    font-size: 20px;
    transition: color .3s;
    color: #959595;
}
header li a:hover {
    color: #131821;
}
header li a span {
    transition: color .3s;
    color: #553cd9;
}
header li a span:hover {
    color: #0f0733;
}

h1{
    width: 100%;
    text-align: center;
}
